*{
    text-align: center;
}
.section{
    margin: 2%;
}
.img1{   
    position: relative;
}
.box1{
    z-index: 1;
    background-color: green;
    width: 14%;
    height: 7%;
    position: absolute;
    top: 0;
    right: 0;
}
.box2{
    z-index: 1;
    background-color: red;
    width: 14%;
    height: 7%;
    position: absolute;
    top: 0;
    right: 0;
}

.div1{
    display: inline-block;
    position: relative;
    
}
.sale{
    font-size: 120%;
    position: absolute;
    top: 0%;
    right: 0%;
    
}

.cuore{
    display: none;    
    z-index: 0;    
    color: red;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 3.5%;
}
.div1:hover > .cuore{
    display:block;
}


